.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12px;
  padding: 8px;
  border: hotpink;
}
body {
  background-color: #9c1de7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
button {
  height: 40px;
  border: 2px solid black;
  box-sizing: border-box;
  color: rgb(7, 4, 4);
  background-color: gold;
  border-radius: 18px;
  box-shadow: 20px;
  outline: none;
}
form {
  align-items: center;
  border-radius: 0 12px 12px 0;
  display: grid;
  grid-gap: 25px;
}

.sena {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px 30px; */
  box-sizing: border-box;
  box-shadow: silver;
  border: 2px solid black;
  color: black;
  background-color: #e8e8f3;
  padding: 10px;
}
input {
  background-color: #fff;
  height: 30px;
  border: 2px solid black;
  border-radius: 30px;
  outline: none;
}
.cat:hover {
  color: white;
  cursor: pointer;
}
footer {
  height: 20vh;
  font-size: x-large;
  width: 100%;
}
.cat {
  border: 2px solid blue;
  background-color: #f3558e;
  margin: 13px;
  width: 15vh;
  box-sizing: border-box;
  box-shadow: black;
  border-radius: 25px;
}
h1{
  color: white;
}
