.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12px;
  padding: 8px;
  border: hotpink;
}
body {
  background-color: rgb(173, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
}

form {
  align-items: center;
  border: 1px solid rgb(7, 7, 7);
  padding: 40px;
  display: grid;
  grid-gap: 25px;
}
button:hover {
  background-color: blue;
}

input,
button {
  color: black;
  padding: 10px 7px;
}

.bord {
  background-color: green;
  color: black;
  width: 25%;
  display: flex;
  align-self: center;
  justify-self: center;

  color: white;
  border-radius: 20px 20px 20px 20px;
}

.sena {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background-color: rgb(197, 196, 196);
  opacity: 0.5;
  border: 1px solid rgb(14, 13, 13);
  margin: 10px;
  box-shadow: 5px 17px 18px grey;
}
.card:hover {
  background-color: rgb(236, 232, 240);
}

footer {
  height: 20vh;
  font-size: x-large;
  width: 100%;
}

h1 {
  font-size: xx-large;
  color: black;
}
